@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  color: black;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


/* my solutiion*/

body {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.right-links,
.left-links {
display: flex;
list-style-type: none;
gap: 1em;
margin: 0;
padding: 0;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

button {
  padding: 0.5em 1em;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
}

.footer {
  background-color: #eee;
}
