.header  {
  display: flex;
  font-family: monospace;
  background: papayawhip;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 900;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  
  
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}


.header ul  {
display:flex;
gap: 8px;
margin: 0;
padding: 0;
}
